# Java
*.class
*.jar
*.exe

# Maven
target/

# Build output
bin/
release/
runtime/
IslandGrid/runtime/
IslandGrid/app/

# IDE
.vscode/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log

# User data
users.txt
user.txt
